@{
    ViewData["Title"] = "";
    @model IQueryable<BYU_EGYPT.Models.Artifact>

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FagElGamous.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <style>

        .scrollable-table-container {
            width: 100%;
            overflow-x: auto;
        }

        .hoverable-table tbody tr:hover {
            background-color: #daecf7;
        }

        tr:nth-child(even) {
            background-color: #BDD6E6;
        }

        .container {
            padding: 0;
        }

        .side-menu {
            position: absolute;
            left: 50px;
            top: 200px;
            height: 200px;
            width: 250px;
            color: #000000;
            padding-top: 20px;
            padding-left: 10px;
            font-size: 24px;
            font-weight: 400;
        }

        .menu-item {
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .menu-item:hover {
                background-color: #BDD6E6;
            }

        .content {
            margin-left: 275px;
            padding: 20px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 210px;
            z-index: 1;
            padding: 10px;
            font-size: 18px;
        }

            .dropdown-content a {
                display: block;
                padding: 1px;
                color: black;
                text-decoration: none;
            }

        .dropdown.open .dropdown-content {
            display: block;
        }


        .dropdown-content a:hover {
            font-weight: bold;
        }

        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

                .pagination a.active {
                    background-color: #0072CE;
                    color: white;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #BDD6E6;
                    border-radius: 5px;
                    color: black;
                }


        .arrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            margin-left: 125px;
        }

        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    </style>


</head>
<body>

    <!-- Side Menu -->
    <div class="side-menu">
        <hr />
        <div class="menu-item">
            <div class="dropdown" id="dropdownContainer">
                <a href="#" onclick="toggleDropdown(); return false;" style="color: black; text-decoration: none;">
                    Burials <i class="arrow down"></i>
                </a>

                <div id="dropdownContent" class="dropdown-content">
                    <a href="#" onmouseover="handleItemHover(this);" onclick="window.location.href='@Url.Action("BurialTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                        Burial Data
                    </a><hr />
                    <a href="#" onmouseover="handleItemHover(this);" onclick="window.location.href='@Url.Action("C14Table", "Home")'; return false;" style="color: black; text-decoration: none;">
                        C14 Data
                    </a><hr />
                    <a href="#" onmouseover="handleItemHover(this);" onclick="window.location.href='@Url.Action("OsteologyTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                        Osteology Data
                    </a><hr />
                    <a href="#" onmouseover="handleItemHover(this);" onclick="window.location.href='@Url.Action("CraniaTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                        Crania Data
                    </a>
                </div>

            </div>
        </div>

        <div class="menu-item">
            <a href="#" onclick="window.location.href='@Url.Action("ArtifactTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                Artifacts
            </a>
        </div>

        <div class="menu-item">
            <a href="#" onclick="window.location.href='@Url.Action("TextileTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                Textiles
            </a>
        </div>

    </div>


    <!-- Table -->
    <div class="content ">
        <div class="text-center">
            <br />
            <h2>Artifact Table</h2>
            <div class="container scrollable-table-container">

                <table id="artifactTable" class="table table-bordered hoverable-table">
                    <thead>
                        <tr>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Excavation Year</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Artifact ID</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Location</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Burial Number</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Title</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Description</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Material</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Condition</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Dimensions</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Has Photos</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Notes</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr onclick="window.location.href='@Url.Action("ArtifactDetails", "Home", new { ArtifactID = item.ArtifactId })';" style="cursor:pointer">
                                <td>@item.ExcavationYear</td>
                                <td>@item.ArtifactId</td>
                                <td>@item.Location</td>
                                <td>@item.BurialNumber</td>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>@item.Material</td>
                                <td>@item.Condition</td>
                                <td>@item.Dimensions</td>
                                <td>@item.HasPhotos</td>
                                <td>@item.Notes</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="pagination">
                    <a asp-action="ArtifactTable" asp-route-pageNum="1" class="@(ViewBag.CurrentPage == 1 ? "active" : "")">1</a>
                    <a asp-action="ArtifactTable" asp-route-pageNum="2" class="@(ViewBag.CurrentPage == 2 ? "active" : "")">2</a>
                    <a asp-action="ArtifactTable" asp-route-pageNum="3" class="@(ViewBag.CurrentPage == 3 ? "active" : "")">3</a>
                </div>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>function removeAllHighlights() {
            // Remove the 'highlight' class from all elements
            var elements = document.querySelectorAll('.highlight');
            elements.forEach(function (element) {
                element.classList.remove('highlight');
            });
        }</script>

    <script>function highlightItem(element) {
            // Add the 'highlight' class to the hovered element
            element.classList.add('highlight');
        }</script>

    <script>function toggleDropdown() {
            removeAllHighlights();

            var dropdown = document.getElementById('dropdownContainer');
            dropdown.classList.toggle('open');
            var dropdownContent = document.getElementById("dropdownContent");

            if (dropdown.classList.contains("open")) {
                var dropdownHeight = dropdownContent.offsetHeight;
                dropdown.style.marginBottom = dropdownHeight + "px";
            } else {
                dropdown.style.marginBottom = "0";
            }
        }</script>

    <script>function handleItemHover(element) {
            removeAllHighlights();
            highlightItem(element);
        }</script>


</body>
</html>