@model BYU_EGYPT.Models.Artifact

@{
    ViewData["Title"] = "Sample Details - " + Model.ArtifactId;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FagElGamous.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <style>
            .minimalistic-btn {
                background-color: transparent; /* No background color */
                border: 1px solid #007bff; /* Border color similar to Bootstrap primary color */
                color: #007bff; /* Text color similar to Bootstrap primary color */
                text-align: center;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: 0.25rem;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
            }

                .minimalistic-btn:hover {
                    color: #fff; /* White text on hover */
                    background-color: #007bff; /* Bootstrap primary color background on hover */
                    border-color: #0056b3; /* Slightly darker border color on hover */
                    text-decoration: none; /* Remove underline from links */
                }

            .pdf-placeholder-container {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 20px; /* Adjust the space between items */
            }

            .pdf-placeholder {
                border: 1px solid #ccc;
                padding: 10px;
                width: 150px; /* Set a fixed width for each placeholder */
                text-align: center;
            }

                .pdf-placeholder img {
                    width: 100%;
                    height: auto;
                }

            .active-tab {
                background-color: #0072CE; /* Set your preferred highlight color */
                color: #fff; /* Set the text color for the active tab */
            }

            .box {
                border: 1px solid #ccc;
                padding: 20px;
                width: 300px;
            }

        </style>

</head>

<body>

    <div class="container mt-3">


        <div class="btn-group mt-4" role="group" aria-label="Related Information">
            <a href="javascript:void(0);" onclick="location.reload();" class="btn minimalistic-btn active-tab">Artifact</a>
            <a href="@Url.Action("BurialDetails", "Home", new { sampleNum = Model.BurialNumber })" class="btn minimalistic-btn">Related Burials</a>
            <a href="@Url.Action("TextileDetails", "Home", new { sampleNum = Model.BurialNumber })" class="btn minimalistic-btn">Related Textiles</a>
        </div>

        <hr />

        <h1>@Model.ArtifactId</h1><br />

        <dl class="row">
            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">@Model.Description</dd>

            <dt class="col-sm-3">Location</dt>
            <dd class="col-sm-9">@Model.Location</dd>

            <dt class="col-sm-3">Material</dt>
            <dd class="col-sm-9">@Model.Material</dd>

            <dt class="col-sm-3">Dimensions</dt>
            <dd class="col-sm-9">@Model.Dimensions</dd>

            <dt class="col-sm-3">Artifact Era</dt>
            <dd class="col-sm-9">@Model.ArtifactEra</dd>

            <dt class="col-sm-3">Provenance</dt>
            <dd class="col-sm-9">@Model.Provenance</dd>

            <dt class="col-sm-3">Surface Find</dt>
            <dd class="col-sm-9">@Model.IsSurfaceFind</dd>

            <dt class="col-sm-3">Finder</dt>
            <dd class="col-sm-9">@Model.Finder</dd>

            <dt class="col-sm-3">Located At</dt>
            <dd class="col-sm-9">@Model.LocationAtSite</dd>

            <dt class="col-sm-3">Entered Kom Aushim</dt>
            <dd class="col-sm-9">@Model.KomAushimEntryDate</dd>

            <dt class="col-sm-3">Find Date</dt>
            <dd class="col-sm-9">@Model.FindYear</dd>

        </dl>
        <br />

        <div class="col-sm-3" style="font-weight:bold">Notes:</div><br />
        <div class="col-sm-3 box">@Model.Notes</div>


        @*<div class="pdf-placeholder">
            <embed id="pdfEmbed" type="application/pdf" width="900%" height="600px" src="path-to-your-placeholder.pdf">
        </div>*@



        <!--<div class="pdf-placeholder-container">-->
        <!-- Placeholder 1 -->
        <!--<div class="pdf-placeholder">
        <a href="path-to-your-first-pdf.pdf" target="_blank">
            <img src="path-to-your-placeholder-image.png" alt="PDF Placeholder" />
        </a>
    </div>-->
        <!-- Placeholder 2 -->
        <!--<div class="pdf-placeholder">
        <a href="path-to-your-second-pdf.pdf" target="_blank">
            <img src="path-to-your-placeholder-image.png" alt="PDF Placeholder" />
        </a>
    </div>-->
        <!-- Placeholder 3 -->
        <!--<div class="pdf-placeholder">
        <a href="path-to-your-third-pdf.pdf" target="_blank">
            <img src="path-to-your-placeholder-image.png" alt="PDF Placeholder" />
        </a>
    </div>-->
        <!-- Add more placeholders as needed -->
        <!--</div>-->
        <!--<form method="post" asp-action="EditRecord" asp-controller="Home">
        <input type="hidden" />
        <div class="form-group">
            <label asp-for="Location" class="col-sm-3 col-form-label">Location</label>
            <div class="col-sm-9">
                <input asp-for="Location" class="form-control" />
            </div>
            <label asp-for="ExcavationYear" class="col-sm-3 col-form-label">Excavation Year</label>
            <div class="col-sm-9">
                <input asp-for="ExcavationYear" class="form-control" />
            </div>
            <label asp-for="BurialNumber" class="col-sm-3 col-form-label">Burial Number</label>
            <div class="col-sm-9">
                <input asp-for="BurialNumber" class="form-control" />
            </div>
            <label asp-for="ArtifactId" class="col-sm-3 col-form-label">Artifact ID</label>
            <div class="col-sm-9">
                <input asp-for="ArtifactId" class="form-control" />
            </div>
        </div>-->
        <!-- Add similar fields for other properties -->
        <!--<br />
        <br />


        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="@Url.Action("BurialTableData", "Home")" class="btn btn-secondary">Back to List</a>
    </form>-->
    </div>

    <br />
    <br />
    <br />

    <div class="container mt-3">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseBodyAnalysis">
                        Body Analysis
                    </a>
                </div>
                <div id="collapseBodyAnalysis" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <!-- Placeholder for Body Analysis picture -->
                        <img src="path_to_your_placeholder_image" alt="Body Analysis Placeholder" />
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseCrania">
                        Crania
                    </a>
                </div>
                <div id="collapseCrania" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <!-- Placeholder for Crania picture -->
                        <img src="path_to_your_placeholder_image" alt="Crania Placeholder" />
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseFieldbooks">
                        Fieldbooks
                    </a>
                </div>
                <div id="collapseFieldbooks" class="collapse" data-parent="#accordion">
                    <!-- These links will open the PDF in a new tab at the specified page -->
                    <a class="card-link" href="~/img/1992A.pdf#page=5" target="_blank">Page 5</a>
                    <a class="card-link" href="~/img/1992A.pdf#page=18" target="_blank">Page 30 & 31</a>
                    <a class="card-link" href="~/img/1992A.pdf#page=19" target="_blank">Page 19</a>
                    <embed src="~/img/1992A.pdf" type="application/pdf" width="100%" height="600px">
                </div>

            </div>



        </div>
    </div>

    @section Scripts {
        <!-- Ensure jQuery is loaded first for Bootstrap 4 -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <!-- Then load Bootstrap's JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>$(document).ready(function () {
                // Get the current page URL
                var currentPage = window.location.href;

                // Find the tab that matches the current URL
                var activeTab = $('.btn[data-tab]').filter(function () {
                    return currentPage.indexOf($(this).attr('href')) > -1;
                });

                // Remove the active class from all tabs
                $('.btn[data-tab]').removeClass('active-tab');

                // Add the active class to the matched tab
                activeTab.addClass('active-tab');
            });</script>

    }

</body>
</html>