@{
    ViewData["Title"] = "";
    @*@model List<BYU_EGYPT.Models.Burial>*@
    @model IQueryable<BYU_EGYPT.Models.Burial>

}

<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Page Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FagElGamous.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Additional styles here -->
    <style>
        .search-container {
            text-align: center;
            margin: auto; /* Center the search bar */
        }

            .search-container input[type="text"] {
                padding: 8px; /* Reduced padding to make it shorter */
                font-size: 16px; /* Slightly smaller font size */
                border: 1px solid #ccc; /* Adds a slight border */
                width: 50%; /* Adjust based on preference */
                background: #f1f1f1; /* Light grey background */
            }

            .search-container button {
                width: 10%; /* Matches the input field width */
                padding: 8px; /* Reduced padding to make it shorter */
                background: gray; /* Changed from navy to gray */
                color: white;
                font-size: 16px; /* Slightly smaller font size */
                border: none;
                cursor: pointer;
            }

                .search-container button:hover {
                    background: darkgray; /* Slightly darker gray on hover */
                }

            /* Clear floats */
            .search-container::after {
                content: "";
                clear: both;
                display: table;
            }

        /* Side Menu Styles */
        .side-menu {
            width: 250px; /* Adjust the width as needed */
            border-right: 1px solid #ccc;
        }

        .side-menu-header {
            padding: 16px;
            font-size: 24px;
            background-color: #f8f9fa;
            border-bottom: 1px solid #ccc;
        }

        .side-menu .list-group-item {
            border: none;
            border-bottom: 1px solid #ccc;
        }

            .side-menu .list-group-item:last-child {
                border-bottom: none;
            }

        .side-menu .list-group-item-action {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

            .side-menu .list-group-item-action:hover {
                background-color: #e9ecef;
            }

        .dropdown-content {
            display: none;
            margin-left: 20px; /* Indent the dropdown content for visual hierarchy */
        }
        /* Add this CSS to your stylesheet */
        .hoverable-table tbody tr:hover {
            background-color: #f5f5f5; /* Or any color you prefer */
        }


        .hoverable-table tbody tr:hover {
            background-color: #f5f5f5; /* Or any color you prefer */
        }


        .dropdown-content a {
            padding: 10px 15px;
            text-decoration: none;
            display: block;
            font-size: 0.9em; /* Adjust the font size as needed */
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }
    </style>

</head>
<body>
    <!-- Side Menu -->
    <div class="side-menu float-start">

        <div class="list-group-item fs-4 py-3">
            <a href="@Url.Action("BurialTableData", "Home")" class="list-group-item-action">
                Burials <span>&gt;</span>
            </a>
            <div class="dropdown-content">
                <a href="@Url.Action("C14Table", "Home")" class="list-group-item-action">C14</a>
                <a href="@Url.Action("OsteologyTable", "Home")" class="list-group-item-action">Osteology</a>
                <a href="@Url.Action("CraniaTable", "Home")" class="list-group-item-action">Crania</a>
            </div>
        </div>

        <div class="list-group-item fs-4 py-3">
            <a href="@Url.Action("ArtifactTable", "Home")" class="list-group-item-action">
                Artifacts <span>&gt;</span>
            </a>
            <div class="dropdown-content">
                <a href="@Url.Action("Data", "Home")" class="list-group-item-action">Artifacts(1)</a>
                <a href="@Url.Action("Data", "Home")" class="list-group-item-action">Artifacts(2)</a>
            </div>
        </div>

        <div class="list-group-item fs-4 py-3">
            <a href="@Url.Action("TextileTable", "Home")" class="list-group-item-action">
                Textiles <span>&gt;</span>
            </a>
            <div class="dropdown-content">
                <a href="@Url.Action("Data", "Home")" class="list-group-item-action">Textiles(1)</a>
                <a href="@Url.Action("Data", "Home")" class="list-group-item-action">Textiles(2)</a>
            </div>
        </div>

    </div>

    <!-- Original Content and Search Bar -->
    <div class="text-center">
        <br />
        <div class="container">
            <h2>Burial Table</h2>
            <a asp-action="BurialTableData" asp-route-pageNum="1">1</a>
            <a asp-action="BurialTableData" asp-route-pageNum="2">2</a>
            <a asp-action="BurialTableData" asp-route-pageNum="3">3</a>
            <table id="burialTable" class="table table-bordered hoverable-table">
                <thead>
                    <tr>
                        <td>Excavation Year</td>
                        <td>Location</td>
                        <td>Burial Number</td>
                        <td>Depth</td>
                        <td>AgeGroup</td>
                        <td>Sex</td>
                        <td>BodyPreservationLevel</td>
                        <td>WrappingLevel</td>
                        <td>HasFaceBundle</td>
                        <td>HairColor</td>
                        <td>HeadDirection</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @*<tr onclick="window.location.href='@Url.Action("BurialDetails", "Home", new { BurialNumberID = item.BurialNumber })';" style="cursor:pointer">*@
                        <tr>
                            <td>@item.ExcavationYear</td>
                            <td>@item.Location</td>
                            <td>@item.BurialNumber</td>
                            <td>@item.Depth</td>
                            <td>@item.AgeGroup</td>
                            <td>@item.Sex</td>
                            <td>@item.BodyPreservationLevel</td>
                            <td>@item.WrappingLevel</td>
                            <td>@item.HasFaceBundle</td>
                            <td>@item.HairColor</td>
                            <td>@item.HeadDirection</td>
                            <td><a asp-controller="Home" asp-action="BurialDetails" asp-route-BurialNumberID="@item.BurialNumber">View</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

    <script>function toggleDropdown(dropdownId) {
            var dropdown = document.getElementById(dropdownId);
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }</script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>$(document).ready(function () {
            $('.list-group-item').hover(
                function () {
                    $(this).find('.dropdown-content').slideDown(200); // Show dropdown on hover
                },
                function () {
                    $(this).find('.dropdown-content').slideUp(200); // Hide dropdown when mouse leaves
                }
            );
        });</script>

</body>
</html>
