@{
    ViewData["Title"] = "";
    @model IQueryable<BYU_EGYPT.Models.Cranium>

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FagElGamous.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <style>

        .hoverable-table tbody tr:hover {
            background-color: #daecf7;
        }

        tr:nth-child(even) {
            background-color: #BDD6E6;
        }

        .container {
            padding: 0;
        }

        .side-menu {
            position: absolute;
            left: 50px;
            top: 200px;
            height: 200px;
            width: 250px;
            color: #000000;
            padding-top: 20px;
            padding-left: 10px;
            font-size: 24px;
            font-weight: 400;
        }

        .menu-item {
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .menu-item:hover {
                background-color: #BDD6E6;
            }

        .content {
            margin-left: 275px;
            padding: 20px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

            .dropdown-content a {
                display: block;
                padding: 8px 16px;
                color: black;
                text-decoration: none;
            }

            .dropdown-content:hover {
                background-color: #BDD6E6;
            }

        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

                .pagination a.active {
                    background-color: #4CAF50;
                    color: white;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #0072CE;
                    border-radius: 5px;
                    color: white;
                }


        .arrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            margin-left: 125px;
        }

        .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    </style>

</head>
<body>

    <!-- Side Menu -->
    <div class="side-menu">
        <hr />
        <div class="menu-item">
            <div class="dropdown" id="dropdownContainer">
                <a href="#" onclick="toggleDropdown(); return false;" style="color: black; text-decoration: none;">
                    Burials <i class="arrow down"></i>
                </a>

                <div id="dropdownContent" class="dropdown-content">
                    <a href="#" onclick="window.location.href='@Url.Action("BurialTableData", "Home")'; return false;" style="color: black; text-decoration: none;">
                        Burials
                    </a>
                    <a href="#" onclick="window.location.href='@Url.Action("C14Table", "Home")'; return false;" style="color: black; text-decoration: none;">
                        C14
                    </a>
                    <a href="#" onclick="window.location.href='@Url.Action("OsteologyTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                        Osteology
                    </a>
                    <a href="#" onclick="window.location.href='@Url.Action("CraniaTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                        Crania
                    </a>
                </div>

            </div>
        </div>

        <div class="menu-item">
            <a href="#" onclick="window.location.href='@Url.Action("ArtifactTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                Artifacts
            </a>
        </div>

        <div class="menu-item">
            <a href="#" onclick="window.location.href='@Url.Action("TextileTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                Textiles
            </a>
        </div>

    </div>


    <!-- Table -->
    <div class="content">
        <div class="text-center">
            <br />
            <div class="container">
                <h2>Crania Table</h2>

                <table id="craniaTable" class="table table-bordered hoverable-table">
                    <thead>
                        <tr>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Excavation Year</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Location</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Max Crania Length</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Max Crania Breadth</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Basion Bregma Height</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Basion Nasion Length</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Basion Prosthion Length</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Bizygomatic Diameter</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Nasion Prosthion Height</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Max Nasal Breadth</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Interorbital Breadth</td>
                            <td style="font-weight: bold; background-color: #BDD6E6; ">Calculated Sex</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr onclick="window.location.href='@Url.Action("CraniaDetails", "Home", new { BurialNumberID = item.CraniaId })';" style="cursor:pointer">
                                <td>@item.ExcavationYear</td>
                                <td>@item.Location</td>
                                <td>@item.MaxCraniaLength</td>
                                <td>@item.MaxCraniaBreadth</td>
                                <td>@item.BasionBregmaHeight</td>
                                <td>@item.BasionNasionLength</td>
                                <td>@item.BasionProsthionLength</td>
                                <td>@item.BizygomaticDiameter</td>
                                <td>@item.NasionProsthionHeight</td>
                                <td>@item.MaxNasalBreadth</td>
                                <td>@item.InterorbitalBreadth</td>
                                <td>@item.CalculatedSex</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="pagination">
                    <a asp-action="CraniaTable" asp-route-pageNum="1">1</a>
                    <a asp-action="CraniaTable" asp-route-pageNum="2">2</a>
                </div>
            </div>
        </div>
    </div>


    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

    <script>function toggleDropdown(dropdownId) {
            var dropdown = document.getElementById(dropdownId);
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }</script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    <script>function toggleDropdown() {
            var dropdownContent = document.getElementById('dropdownContent');
            var dropdownContainer = document.getElementById('dropdownContainer');

            if (dropdownContent.style.display === 'block') {
                dropdownContent.style.display = 'none';
                dropdownContainer.style.height = 'auto'; // Reset the height to auto when the dropdown is closed
            } else {
                dropdownContent.style.display = 'block';
                dropdownContainer.style.height = dropdownContent.offsetHeight + 'px'; // Set the height to match the dropdown content
            }
        }</script>


</body>
</html>
