@{
    ViewData["Title"] = "Data";
    @model IQueryable<BYU_EGYPT.Models.Burial>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FagElGamous.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    
    <style>

        .hoverable-table tbody tr:hover {
            background-color: #daecf7;
        }

        tr:nth-child(even) {
            background-color: #BDD6E6;
        }

        .container {
            padding: 0;
        }

        .side-menu {
            position: absolute;
            left: 50px;
            top: 200px;
            height: 200px;
            width: 250px;
            color: #000000;
            padding-top: 20px;
            padding-left: 10px;
            font-size: 24px;
            font-weight: 400;
        }

        .menu-item {
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .menu-item:hover {
                background-color: #BDD6E6;
            }

        .indented-menu-item {
            padding: 3px 10px 3px 20px;
            font-size: 16px;
        }

            .indented-menu-item a:hover {
                font-weight: bold;
            }

        .indented-menu-item-crania {
            padding: 3px 10px 10px 20px;
            font-size: 16px;
        }

            .indented-menu-item-crania a:hover {
                font-weight: bold;
            }

        .burial-item {
            padding: 10px;
            transition: background-color 0.3s;
        }

        .short-hr {
            width: calc(100% - 45px);
            margin-left: 20px;
        }

        .content {
            margin-left: 275px;
            padding: 20px;
        }

        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

                .pagination a.active {
                    background-color: #4CAF50;
                    color: white;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #0072CE;
                    border-radius: 5px;
                    color: white;
                }

    </style>

</head>
<body>

    <!-- Side Menu -->
    <div class="side-menu">
        <hr />

        <div class="burial-item" style="color: black; text-decoration: none;">
            Burials
        </div>

        <div class="menu-item indented-menu-item">
            <a href="#" onclick="window.location.href='@Url.Action("BurialTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                Burial Data
            </a>
        </div><hr class="short-hr"/>

        <div class="menu-item indented-menu-item">
            <a href="#" onclick="window.location.href='@Url.Action("C14Table", "Home")'; return false;" style="color: black; text-decoration: none;">
                Carbon Dating Data
            </a>
        </div><hr class="short-hr"/>

        <div class="menu-item  indented-menu-item">
            <a href="#" onclick="window.location.href='@Url.Action("OsteologyTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                Osteology Data
            </a>
        </div><hr class="short-hr"/>

        <div class="menu-item  indented-menu-item-crania">
            <a href="#" onclick="window.location.href='@Url.Action("CraniaTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                Crania Data
            </a>
        </div>

        <div class="menu-item">
            <a href="#" onclick="window.location.href='@Url.Action("ArtifactTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                Artifacts
            </a>
        </div>

        <div class="menu-item">
            <a href="#" onclick="window.location.href='@Url.Action("TextileTable", "Home")'; return false;" style="color: black; text-decoration: none;">
                Textiles
            </a>
        </div>

    </div>

    <!-- Content -->

    <div class="content">
        <div class="text-center">
            <br />
            <div class="container">


                <h1>
                    This is our data homepage. Click on the sidebar to see more.
                </h1>
                <br />
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>function removeAllHighlights() {
            // Remove the 'highlight' class from all elements
            var elements = document.querySelectorAll('.highlight');
            elements.forEach(function (element) {
                element.classList.remove('highlight');
            });
        }</script>

    <script>function highlightItem(element) {
            // Add the 'highlight' class to the hovered element
            element.classList.add('highlight');
        }</script>

    <script>function toggleDropdown() {
            removeAllHighlights();

            var dropdown = document.getElementById('dropdownContainer');
            dropdown.classList.toggle('open');
            var dropdownContent = document.getElementById("dropdownContent");

            if (dropdown.classList.contains("open")) {
                var dropdownHeight = dropdownContent.offsetHeight;
                dropdown.style.marginBottom = dropdownHeight + "px";
            } else {
                dropdown.style.marginBottom = "0";
            }
        }</script>

    <script>function handleItemHover(element) {
            removeAllHighlights();
            highlightItem(element);
        }</script>


</body>
</html>
